{% extends 'pages/base.html' %}
{% block title %}
  About Us - Utopia Lagos
{% endblock title %}

{% block about %}
    active
{% endblock about %}

{% block hero %}
    About Us
{% endblock hero %}
    {% load static %}
    {% block content %}
        <!--Hero End -->
        <!-- About Law Start-->
        <div class="about-low-area section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <span>Our Story</span>
                                <h2>Utopia is the world's first urban innovation group focused solely on emerging cities and their slums. </h2>
                            </div>
                            <p>We got our feet wet in cities in Asia years ago and over time, realized that innovation and entrepreneurship could bring a new perspective to quickly growing megacities around the world. 
                                We moved from Asia into San Francisco to set up what would eventually come to be known as Utopia and are focused on building an urban innovation ecosystem across Africa, Asia, and Latin America.</p>
                            
                            <a href="mailto:lagos@utopia.do" class="btn">Say Hi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Law End-->

        <!--Partners Team Ara Start -->
        <div class="team-area section-padding1" id="partners">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <h2>Our Managing Partners</h2>
                            <span style="color: black;">Utopia is led by four partners - Jonathan Hursh, Marco Brandao, Dori Nguyen and Emmanuel Adegboye. 
                                Collectively, our team is a mix of entrepreneurs, 
                                designers, urbanists, technologists, behavioral scientists, futurists and lots of zero gravity thinkers on cities. </span>
                            
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/p1.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a >Jonathan Hursh
                                    </a></h3>
                                <p>Founding Partner</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/p2.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a >Dori Nguyen
                                    </a></h3>
                                <p>Managing Partner | Utopia Kathmandu</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/emma.jpg' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a >Emmanuel Adegboye</a></h3>
                                <p>Managing Partner | Utopia Lagos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/p4.png' %}" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a >
                                    Marco Brandao
                                    </a></h3>
                                <p>Managing Partner | Utopia Rio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Ara End -->

        <!--Team Ara Start -->
        <div class="team-area section-padding1" id="team">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Our Lagos Studio Team Mambers</span>
                            <h2>Take a look to our professional team members.</h2>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/emma.jpg' %}" alt="">
                                <!-- Blog Social -->
                                <div class="team-social">
                                    <li><a><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a><i class="fab fa-twitter"></i></a></li>
                                    <li><a ><i class="fas fa-globe"></i></a></li>
                                </div>
                            </div>
                            <div class="team-caption">
                                <h3><a >Emmanuel Adegboye</a></h3>
                                <p>Managing Partner | Utopia Lagos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/0.jpg' %}" alt="">
                                <!-- Blog Social -->
                                <div class="team-social">
                                    <li><a ><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a ><i class="fab fa-twitter"></i></a></li>
                                    <li><a ><i class="fas fa-globe"></i></a></li>
                                </div>
                            </div>
                            <div class="team-caption">
                                <h3><a >Summer Ugoh-Unachukwu</a></h3>
                                <p>Fellow | Utopia Lagos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/korede.jpg' %}" alt="">
                                <!-- Blog Social -->
                                <div class="team-social">
                                    <li><a ><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a ><i class="fab fa-twitter"></i></a></li>
                                    <li><a ><i class="fas fa-globe"></i></a></li>
                                </div>
                            </div>
                            <div class="team-caption">
                                <h3><a >Korede Omolehinwa</a></h3>
                                <p>Fellow | Utopia Lagos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Ara End -->

        
        <!--Advisory Team Ara Start -->
        <div class="team-area section-padding30" id="advisory">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <h2>Advisory Board</h2>
                            <span>Our core advisory board is made up of industry experts and all around creative thinkers and doers.</span>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/1.jpeg' %}" alt="">
                                
                            </div>
                            <div class="team-caption">
                                <h3><a >Esther Dyson</a></h3>
                                <p>Founder @ HICCup and
                                    Board Member @ 23andMe</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/2.png' %}" alt="">
                                
                            </div>
                            <div class="team-caption">
                                <h3><a >Rahul Mehrotra</a></h3>
                                <p>Acting Dean @ Harvard GSD
                                    Chair of Urban Planning and Design</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/3.jpeg' %}" alt="">
                                
                            </div>
                            <div class="team-caption">
                                <h3><a >Miriam Roure
                                    </a></h3>
                                <p>Program Director @ URBAN-X</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/4.jpeg' %}" alt="">
                                
                            </div>
                            <div class="team-caption">
                                <h3><a >Dave Blakely
                                    
                                    </a></h3>
                                <p>Partner @ Mach49 
                                    Former Head of Tech Strategy @ IDEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/5.jpg' %}" alt="">
                                
                            </div>
                            <div class="team-caption">
                                <h3><a >Pia Mancini
                                    
                                    </a></h3>
                                <p>Cofounder @ Open Collective
                                    Chair @ DemocracyEarth</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/6.jpg' %}" alt="">
                                
                            </div>
                            <div class="team-caption">
                                <h3><a >Jennifer Musisi
                                    </a></h3>
                                <p>Past Executive Director @ City of Kampala City Leader In Residence 
                                    @ Bloomberg Harvard City Leadership Initiative</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/7.jpeg' %}" alt="">
                                
                            </div>
                            <div class="team-caption">
                                <h3><a >Sarah Balmond
                                    
                                    </a></h3>
                                <p>Director @ Balmond Studio 
                                    Founding Design Editor @ Monocle</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'img/8.jpg' %}" alt="">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Advisory Team Ara End -->



    </main>
  {% endblock %}