{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
        {% block title %}
            
        {% endblock title %}
            </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="manifest" href="site.webmanifest"> -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
        <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Nanum+Gothic:wght@700&family=Poppins:ital,wght@0,300;0,400;0,700;0,800;0,900;1,600&display=swap" rel="stylesheet">
		
		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/logo.png' %}" alt="Utopia">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <!-- Header Start -->
    <div class="header-area header-transparent">
            <div class="main-header  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Utopia" width="115px" height="47px"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation">  
                                        <li class="
                                        {% block home %}
                                            
                                        {% endblock home %}
                                            "><a href="{% url 'home' %}">Home</a></li>
                                        <li class="
                                        {% block about %}
                                            
                                        {% endblock about %}
                                            "><a href="{% url 'about' %}">About Us</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'about' %}#team">Team</a></li>
                                                <li><a href="{% url 'about' %}#advisory">Advisory Board</a></li>
                                                <li><a href="{% url 'about' %}#partners">Partners</a></li>
                                            </ul>
                                        </li>
                                        <li class="
                                        {% block port %}
                                            
                                        {% endblock port %}
                                            "><a href="{% url 'portfolio' %}">Portfolio</a></li>
                                        <li class="
                                        {% block city %}
                                            
                                        {% endblock city %}
                                            "><a href="{% url 'citylab' %}"><strong>CITYLABS</strong> </a></li>
                                        <li class="
                                        {% block pro %}
                                            
                                        {% endblock pro %}
                                            "><a>Projects</a>
                                            <ul class="submenu">
                                                <li><a href="https://urbanchallenge.co/" target="_blank">Lagos Urban Innovation Challenge</a></li>
                                                <li><a href="https://megacityfund.com/" target="_blank">Megacity Fund</a></li>
                                            </ul>
                                        </li>
                                        <li class="
                                        {% block pre %}
                                            
                                        {% endblock pre %}
                                            "><a>Press</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'news' %}">News</a></li>
                                                <li><a href="l">Press Kit</a></li>
                                                <li><a href="{% url 'post_list' %}">Blog</a></li>
                                            </ul>
                                        </li>
                                        <li class="
                                        {% block con %}
                                            
                                        {% endblock con %}
                                            "><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- Header End -->
    <main>

        <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>
                            {% block hero %}
                                
                            {% endblock hero %}
                                </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% block content %}
            
        {% endblock content %}
        
    <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
               <div class="footer-top footer-padding">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Utopia" width="115px" height="47px"></a>
                                    </div>
                                    <div class="footer-pera">
                                        <p>Do the right thing. In every scenario, in every way, we seek to do the right thing, the just thing.</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Link</h4>
                                    <ul>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'citylab' %}"><strong>CITYLABS</strong></a></li>
                                        <li><a href="https://utopia.do/manifesto" target="_blank">Manifesto</a></li>
                                        <li><a href="{% url 'contact' %}"> Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="https://twitter.com/utopiacities" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/utopiaglobal" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="mailto:hello@utopia.do"><i class="fas fa-envelope"></i></a>
                                <a href="https://www.instagram.com/utopia.do/" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
        <!-- Scroll Up -->
        <div id="back-top" >
            <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
        </div>
    
    
        <!-- JS here -->
            <!-- All JS Custom Plugins Link Here here -->
            <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
            <!-- Jquery, Popper, Bootstrap -->
            <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
            <script src="{% static 'assets/js/popper.min.js' %}"></script>
            <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
            <!-- Jquery Mobile Menu -->
            <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
    
            <!-- Jquery Slick , Owl-Carousel Plugins -->
            <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
            <script src="{% static 'assets/js/slick.min.js' %}"></script>
            <!-- One Page, Animated-HeadLin -->
            <script src="{% static 'assets/js/wow.min.js' %}"></script>
            <script src="{% static 'assets/js/animated.headline.js' %}"></script>
            <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    
            <!-- Nice-select, sticky -->
            <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
            <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
            
            <!-- contact js -->
            <script src="{% static 'assets/js/contact.js' %}"></script>
            <script src="{% static 'assets/js/jquery.form.js' %}"></script>
            <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
            <script src="{% static 'assets/js/mail-script.js' %}"></script>
            <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
            
            <!-- Jquery Plugins, main Jquery -->	
            <script src="{% static 'assets/js/plugins.js' %}"></script>
            <script src="{% static 'assets/js/main.js' %}"></script>
            
        </body>
    </html>