{% extends 'pages/base.html' %}
{% block title %}
  CITYLABS - Utopia Lagos
{% endblock title %}

{% block city %}
    active
{% endblock city %}

{% block hero %}
    CITYLABS
{% endblock hero %}
    {% load static %}
    {% block content %}
        <!-- About Law Start-->
        <br>
        <br>
        <div class="support-company-area section-padding1 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img mb-50">
                            <img src="{% static 'img/city01.jpg' %}" alt="">
                            <div class="support-img-cap">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle">
                                <!-- <span>Why Choose Our Company</span> -->
                                <!-- <h2>We Promise Sustainable  Future For You.</h2> -->
                            </div>
                            <div class="support-caption">
                                <p style="font-size: 35px;">Utopia is creating a network of CITYLABS across Africa, Asia, and 
                                    Latin America to build an urban ecosystem for emerging cities</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Law End-->
        <!-- About Law Start-->

        <div class="support-company-area section-padding1 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle">
                                <!-- <span>Why Choose Our Company</span> -->
                                <h2>The CITYLABS are urban venture studios</h2>
                            </div>
                            <div class="support-caption">
                                <p>We’re building and backing urban startups and solutions to make cities better for the many, not just the few. 
                                    We launch new ideas and projects. We collaborate with exceptional entrepreneurs to found and grow urban startups. </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img mb-50">
                            <img src="{% static 'img/city02.jpg' %}" alt="">
                            <div class="support-img-cap">
                                <!-- <span>Since 1992</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="support-company-area section-padding1 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img mb-50">
                            <img src="{% static 'img/city03.png' %}" alt="">
                            <div class="support-img-cap">
                                <!-- <span>Since 1992</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle">
                                <!-- <span>Why Choose Our Company</span> -->
                                <h2>We're creating the next generation of urban startups for emerging cities</h2>
                            </div>
                            <div class="support-caption">
                                <p>We commit up to eighteen months to each venture we help launch. 
                                    Half of the startups are focused on solutions for the formal city and half are focused on the informal city.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="support-company-area section-padding1 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle">
                                <!-- <span>Why Choose Our Company</span> -->
                                <h2>We go all in to build the urban solutions and urban startups</h2>
                            </div>
                            <div class="support-caption">
                                <p>We bring together design, technology, prototyping and marketing. 
                                    We provide space to create and find basic seed funding. We match the team’s ideas with process. 
                                    We support the business model around the product. We bring together mentors who open their networks to the teams.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img mb-50">
                            <img src="{% static 'img/city04.png' %}" alt="">
                            <div class="support-img-cap">
                                <!-- <span>Since 1992</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


    </main>
    {% endblock %}