{% extends 'pages/base.html' %}

{% block title %}
    Server Error
{% endblock title %}

{% block hero %}
   Server Error
{% endblock hero %}
   

{% load static %}

{% block content %} 
    <section class="blog_area single-post-area section-padding">
        <div class="container">
           <div class="row">
              <div class="col-lg-8 posts-list">
                 <div class="single-post">
                    <div class="blog_details">
                       <h2>Error detail
                       </h2>
                       <p class="excert">
                          {{e}}
                       </p>
                       <p>
                        The server could not process your request at the moment.
                        <br>
                       You can try making the request again. Cheers!
                       </p>
                    </div>
                 </div>
              </div>
            {% endblock %}
    
        