{% extends 'blog/base.html' %}

{% block title %}
    Portfolio - Utopia Lagos
{% endblock title %}

{% block pre %}
    active
{% endblock pre %}
{% load static %}
{% load humanize %}
{% block hero %}
    Portfolio
{% endblock hero %}


{% block portf %}
    
    
        <!--================Blog Area =================-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-5 mb-lg-0">
                        <h2>Winners</h2>
                        <div class="blog_left_sidebar">
                            <article class="blog_item">
                                <div class="blog_details">
                                    <a class="d-inline-block" href="http://upnepa.ng/" target="_blank">
                                        <h2>Upnepa</h2>
                                    </a>
                                    <p> Upnepa is a power supply tracking platform for urban buildings. 
                                        Upnepa provides private and community based energy data and insight to enable energy investors, 
                                        distributors and consumers make better research and best decisions.</p>
                                    <ul class="blog-info-link">
                                        <li><a><i class="fa fa-user"></i> #urbanenergy</a></li>
                                        <li><a href="https://youtu.be/ds-l4MVlMJI" target="_blank"><i class="fa fa-video"></i> Video</a></li>
                                        <li><a href="https://twitter.com/Upnepa_ng" target="_blank"><i class="fa fa-comments"></i>Twitter</a></li>
                                        <li><a href="lagoschallenge@utopia.do"><i class="fa fa-envelope"></i>Contact</a></li>
                                    </ul>
                                </div>
                            </article>

                            <article class="blog_item">
                                <div class="blog_details">
                                    <a class="d-inline-block" href="https://pricepally.com/" target="_blank">
                                        <h2>PricePally</h2>
                                    </a>
                                    <p> Pricepally is a digital food cooperative for African cities. They enable people in cities to buy food in bulk or 
                                        share bulk with others directly from farmers and wholesalers making it cheaper than buying at retail stores. </p>
                                    <ul class="blog-info-link">
                                        <li><a><i class="fa fa-user"></i> #urbaninfrastructure</a></li>
                                        <li><a href="https://drive.google.com/file/d/1yuSp90n6dIUZw6Lnn8UuH8S-a5qn42vF/view" target="_blank"><i class="fa fa-video"></i> Video</a></li>
                                        <li><a><i class="fa fa-comments"></i>Twitter</a></li>
                                        <li><a href="lagoschallenge@utopia.do"><i class="fa fa-envelope"></i>Contact</a></li>
                                    </ul>
                                </div>
                            </article>

                            <article class="blog_item">
                                <div class="blog_details">
                                    <a class="d-inline-block" href="https://nima.codes/en" target="_blank">
                                        <h2>NIMA Codes</h2>
                                    </a>
                                    <p> NIMA Codes is a simple yet powerful phone number based addressing system for the places 
                                        without formal street addresses.</p>
                                    <ul class="blog-info-link">
                                        <li><a><i class="fa fa-user"></i> #urbancivic</a></li>
                                        <li><a><i class="fa fa-video"></i> Video</a></li>
                                        <li><a><i class="fa fa-comments"></i>Twitter</a></li>
                                        <li><a href="lagoschallenge@utopia.do"><i class="fa fa-envelope"></i>Contact</a></li>
                                    </ul>
                                </div>
                            </article>

                            <article class="blog_item">
                                <div class="blog_details">
                                    <a class="d-inline-block" href="https://swiftmedispark.com/" target="_blank">
                                        <h2>Medispark</h2>
                                    </a>
                                    <p> Medispark aims to build Africa's largest ecosystem of healthcare applications centred around 
                                        optimising quality of care for as many people as possible.</p>
                                    <ul class="blog-info-link">
                                        <li><a><i class="fa fa-user"></i>#urbanhealth</a></li>
                                        <li><a href="https://www.youtube.com/watch?feature=youtu.be&v=ja2tcj1JmAE" target="_blank"><i class="fa fa-video"></i> Video</a></li>
                                        <li><a href="https://twitter.com/SwiftMedispark" target="_blank"><i class="fa fa-comments"></i>Twitter</a></li>
                                        <li><a href="lagoschallenge@utopia.do"><i class="fa fa-envelope"></i>Contact</a></li>
                                    </ul>
                                </div>
                            </article>

                            <article class="blog_item">
                                <div class="blog_details">
                                    <a class="d-inline-block" href="http://www.givosolutions.com/" target="_blank">
                                        <h2>GIVO</h2>
                                    </a>
                                    <p> GIVO is a circular economy company that offers an end to end recycling solution using IoT enabled devices. 
                                        GIVO (Garbage In, Value Out) leverages technology to collect recyclable material directly from individuals, families and businesses and to process these materials into consumer and industrial goods. 
                                        GIVO relies on a network of youth and women owned franchise businesses.</p>
                                    <ul class="blog-info-link">
                                        <li><a><i class="fa fa-user"></i> #urbanwaste</a></li>
                                        <li><a href="https://drive.google.com/file/d/1h6e5wq8ngaxcpnhbtvSA6qEIndTe-dTP/view?usp=sharing" target="_blank"><i class="fa fa-video"></i> Video</a></li>
                                        <li><a href="https://twitter.com/GivoSolutions" target="_blank"><i class="fa fa-comments"></i>Twitter</a></li>
                                        <li><a href="lagoschallenge@utopia.do"><i class="fa fa-envelope"></i>Contact</a></li>
                                    </ul>
                                </div>
                            </article>

                            <article class="blog_item">
                                <div class="blog_details">
                                    <a class="d-inline-block" href="https://gatepass.io/" target="_blank">
                                        <h2>GatePass</h2>
                                    </a>
                                    <p> GatePass is a mobile platform that connects estate managers with their residents on community related issues. 
                                        GatePass improves the wellbeing of community members by providing the digital infrastructure that generates reliable planning data, facilitates low-cost and high-trust revenue collection, 
                                        and fosters clear 360-communication channels between residents and their community leaders. </p>
                                    <ul class="blog-info-link">
                                        <li><a><i class="fa fa-user"></i> #urbanbuild</a></li>
                                        <li><a href="https://www.notion.so/gatepass/Lagos-Urban-Challenge-Pitch-01406b994653411782366c0a78319f01" target="_blank"><i class="fa fa-video"></i> Video</a></li>
                                        <li><a href="https://twitter.com/GatePass" target="_blank"><i class="fa fa-comments"></i>Twitter</a></li>
                                        <li><a href="lagoschallenge@utopia.do"><i class="fa fa-envelope"></i>Contact</a></li>
                                    </ul>
                                </div>
                            </article>


                            <article class="blog_item">
                                <div class="blog_details">
                                    <a class="d-inline-block" href="http://flycolony.com/" target="_blank">
                                        <h2>Fly Colony</h2>
                                    </a>
                                    <p> Fly Colony aims to scale to a franchise model of fly farming to those living in cities. 
                                        Fly Colony specializes in production of a protein-packed, inexpensive and high quality alternative to the otherwise expensive 
                                        and unsustainable fish meal in the market through black soldier fly farming replicable in urban households.</p>
                                    <ul class="blog-info-link">
                                        <li><a><i class="fa fa-user"></i> #urbanfood</a></li>
                                        <li><a href="https://youtu.be/WPU77mnACWQ" target="_blank"><i class="fa fa-video"></i> Video</a></li>
                                        <li><a href="https://twitter.com/Upnepa_ng" target="_blank"><i class="fa fa-comments"></i>Twitter</a></li>
                                        <li><a href="lagoschallenge@utopia.do"><i class="fa fa-envelope"></i>Contact</a></li>
                                    </ul>
                                </div>
                            </article>

                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div style="padding-top: 20px;">
                                <h1 style="text-align: center;">We’re partnering with those shaping the future of emerging cities</h1>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
                  {% endblock %}