{% extends 'blog/base.html' %}
{% block title %}
    Blog Details - Utopia Lagos
{% endblock title %}

{% block pre %}
    active
{% endblock pre %}
{% load static %}
{% load humanize %}
{% block hero %}
    {{object.title}}
{% endblock hero %}

{% block content %}
    

      <!--================Blog Area =================-->
      <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="feature-img">
                        {% if object.image %}
                        <img class="img-fluid" src="{{object.image.url}}" alt="">
                        {% endif %}
                     </div>
                     <div class="blog_details">
                        <h2>{{object.title}}
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="{% url 'post_tag' object.tag.name %}"><i class="fa fa-user"></i> {{object.tag}}</a></li>
                           <li><a><i class="fa fa-comments"></i>
                            {% if object.comments.all %}
                            {{ object.comments.all.count }} comment(s)
                            {% else %}
                                No comments yet.
                            {% endif %}</a></li>
                        </ul>
                        <p class="excert">
                           {{object.body | safe}}
                        </p>
                     </div>
                  </div>
                  <div class="navigation-top">
                     <div class="navigation-area">
                        <div class="row">
                            {% if prev_post != None %}
                               <div
                               class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                               <div class="thumb">
                                   <a href="{{ prev_post.get_absolute_url }}">
                                      {% if prev_post.image %}
                                       <img class="img-fluid" src="{{ prev_post.image.url }}" width="60" height="60" alt="">
                                       {% endif %}
                                   </a>
                               </div>
                               <div class="arrow">
                                   <a href="{{ prev_post.get_absolute_url }}">
                                       <span class="lnr text-white ti-arrow-left"></span>
                                   </a>
                               </div>
                               <div class="detials">
                                   <a href="{{ prev_post.get_absolute_url }}">
                                       <h4>{{ prev_post.title | truncatewords:3 }}</h4>
                                       <p>Prev Post</p>
                                   </a>
                               </div>
                               </div>
                           {% endif %}
   
                           {% if next_post != None %}
                               <div
                               class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                               <div class="detials">
                                   <p>Next Post</p>
                                   <a href="{{ next_post.get_absolute_url }}">
                                       <h4>{{ next_post.title | truncatewords:3 }}</h4>
                                   </a>
                               </div>
                               <div class="arrow">
                                   <a href="{{ next_post.get_absolute_url }}">
                                       <span class="lnr text-white ti-arrow-right"></span>
                                   </a>
                               </div>
                               <div class="thumb">
                                   <a href="{{ next_post.get_absolute_url }}">
                                      {% if next_post.image %}
                                       <img class="img-fluid" src="{{ next_post.image.url }}" width="60" height="60" alt="">
                                       {% endif %}
                                   </a>
                               </div>
                               </div>
                           {% endif %}
                        </div>
                     </div>
                  </div>
                  <div class="blog-author">
                     <div class="media align-items-center">
                        <img src=" {% static 'img/author.png' %} " alt="">
                        <div class="media-body">
                           <a href="{% url 'user_post' object.author.username  %}">
                              <h4>{{object.author.username | capfirst}}</h4>
                           </a>
                           <p>Passionate about the vibrant tech startups scene in Africa, {{object.author.username | capfirst}} can usually be found sniffing out 
                               the continent's most exciting new companies and entrepreneurs,
                                funding rounds and any other developments within the growing ecosystem.</p>
                            {% if object.author == user %}
                            <a href="{% url 'post_update' object.id object.slug %}" class=" btn-secondary btn-sm mb-0">Update</a>
                            <a href="{% url 'post_delete' object.id object.slug %}" class=" btn-danger btn-sm mb-0">Delete</a>
                            {% endif %}
                        </div>
                     </div>
                  </div>
                  <div class="comments-area">
                     <h4>{{count}} Comments</h4>
                     <div class="comment-list">
                         {% if comments %}
                         {% for comment in comments %}
                            {% if comment.active %}
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src=" {% static 'img/author.png' %} " alt="Utopia">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            {{comment.body}}
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                            <h5>
                                                <a>{{comment.writer}}</a>
                                            </h5>
                                            <p class="date">{{comment.published}} </p>
                                            </div>
                                            <!-- <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% else %}
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                
                                <div class="desc">
                                    <p class="comment">
                                        No comments yet!
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                     </div>
                  </div>
                  <div class="comment-form">
                     <h4>Leave a Comment</h4>
                     <form class="form-contact comment_form" method="POST" id="commentForm">
                         {% csrf_token %}
                        <div class="row">
                           <div class="col-12">
                              <div class="form-group">
                                 <textarea class="form-control w-100" name="body" id="comment" cols="30" rows="9"
                                    placeholder="Write Comment"></textarea>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                              </div>
                           </div>
                           <div class="col-12">
                              <div class="form-group">
                                 <input class="form-control" name="web" id="website" type="text" placeholder="Website">
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                           <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Comment</button>
                        </div>
                     </form>
                  </div>
               </div>
               {% endblock %}