{% load humanize %}
{% if messages %}
    <style type="text/css">
        div.alert-info{
            background-color: #ff6b6b;
        }
        ul.messages{
            list-style-type: none;
        }
    </style>
    <br>
{% for message in messages %}
    <div class="alert {% if message.tags %}  alert-{{message.tags}} {% endif %} alert-dismissible fade show" role="alert">
        {% if message.tags %}
            <strong>{{message.tags|capfirst}}!</strong>
        {% endif %} 
        {% if "html_safe" in message.tags  %}
            {{ message|safe }}
        {% else %}
            {{ message }}
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
  {% endfor %}
{% endif %}
    